@import './config/base.scss';
@import './config/bs-variable-overrides.scss';

@import './components/sensor.scss';
@import './components/image-component.scss';
@import './components/stop-motion-reel.scss';

:root {
  --smallMargin: 10px;
  --mediumMargin: 50px;
  --largeMargin: 100px;
}
* {
  font-family: Arial, Helvetica, sans-serif;
}
html,
body {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;

  &:hover {
    color: black;
  }
}
